{% extends "home-base.html"%}
{% block title %}Edit Artist{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
  <h1> This page edits artists</h1>
  <form>

    <form>
        <input action = "/artist/edit" method= "post">
        <input type = "text" name ="about value = value={{artist.name}}" ><br><br>
        <input type = "text" about ="about value = value={{artist.name}}" ><br><br>
        <input type = "text" action ="about value = value= edit_artist">
<form>


{% endblock%}
